.center{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}

.input{
    background-color: #1cc65d;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 40px;
    width: 35vw;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-right-style: hidden;
}

.chec{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 46px;
    width: 10vw;
    position: relative;
    left: -5px;
    border-style: solid;
    border-color: black;
    background-color: #FFD153;
}

.output{
    background-color: #1cc65d;
    border-radius: 30px;
    height: 40px;
    width: 90.8vw;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 30px;
}
