#background{
    background-color: #C8FF00;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 100px;
    white-space: nowrap;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#navneListe{
    background-color: #1cc65d;
    width: 200px;
    height: 40px;
    position: relative;
    top: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-top-style: hidden;
    text-align: center;
    font-size: 30px;
}

.ar{
    background-color: #1cc65d;
    border-radius: 20px;
    text-align: center;
    width: 90.8vw;
    height: auto;
    font-size: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#tilbake{
    background-color: #1cc65d;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 30px;
}

#yt{
    position: relative;
    top: 15px;
    left: 10px;
    height: 40px;
    width: 40px;
}

#in{
    position: relative;
    top: 6px;
    height: 20px;
    width: 20px;
}
